@import url("https://fonts.googleapis.com/css?family=Arvo%7CGraduate%7CYanone+Kaffeesatz");

.notfounderror {
    background-color: #3faa42;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


// html, body {
//     height: 100%;
// }